# IntelliJ files
/.idea/libraries/Gradle__*.xml
/.idea/dataSources.xml
/.idea/dataSources.ids
/.idea/scssLintPlugin.xml
/.idea/shelf
/.idea/workspace.xml
/.idea/watcherTasks.xml

# Gradle files
.gradle/
/gradle/

# Node files
/node_modules/

# Bower files
/bower_components/

# OS files
.DS_Store
._.DS_Store

# Jekyll files
_site
.jekyll-metadata

# Temporary files
/.sass-cache
*~

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
